<!-- main content -->
<app-navbar></app-navbar>
<app-leftbar></app-leftbar>
<app-ajouter-publication *ngIf="isPrestataire"></app-ajouter-publication>

<div class="main-content right-chat-active">
  <div class="middle-sidebar-bottom">
    <div class="middle-sidebar-left">
      <!-- Loader while data is loading -->
      <div class="preloader-wrap p-3" *ngIf="isLoading">
        <div class="box shimmer">
          <div class="lines">
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
            <div class="line s_shimmer"></div>
          </div>
        </div>
      </div>

      <!-- Display all publications -->
      <div *ngFor="let publication of publications" class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
        <div class="card-body p-0 d-flex">
          <!-- Avatar and name of the prestataire -->
          <figure class="avatar me-3">
            <img *ngIf="getPrestataireById(publication.prestataireId)" 
                 [src]="getPrestataireById(publication.prestataireId)?.avatarUrl" 
                 alt="avatar" class="shadow-sm rounded-circle w45">
          </figure>
          <h4 class="fw-700 text-grey-900 font-xssss mt-1">
            {{ getPrestataireById(publication.prestataireId)?.nom }} 
            <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">
              {{ publication.date_pub | date:'short' }}
            </span>
          </h4>
          <!-- Dropdown pour les options Modifier et Supprimer -->
          <div *ngIf="isMyPublication(publication)" class="ms-auto dropdown">
            <a href="#" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="ti-more-alt text-grey-900 btn-round-md bg-greylight font-xss"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li>
                <a class="dropdown-item"  (click)="publication.id ? modifierPublication(publication.id) : null">
                  Modifier
                </a>
              </li>
              <li>
                <a class="dropdown-item"  (click)="publication.id ? supprimerPublication(publication.id) : null">
                  Supprimer
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-body p-0 me-lg-5">
          <p class="fw-500 text-grey-500 lh-26 font-xssss w-100">
            {{ publication.description }} 
            <br>
            <strong>Prix: </strong>{{ publication.prix }} TND
            <br>
            <strong>Sous-catégorie: </strong>{{ getSousCategorieById(publication.sousCategorieId) }}
          </p>
        </div>

        <div class="card-body d-flex p-0 mt-3">
          <a href="#" class="emoji-bttn d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss me-2">
            <i class="feather-thumbs-up text-white bg-primary-gradiant me-1 btn-round-xs font-xss"></i> 
            <i class="feather-heart text-white bg-red-gradiant me-2 btn-round-xs font-xss"></i> 
            2.8K Like
          </a>
          <div class="emoji-wrap">
            <ul class="emojis list-inline mb-0">
              <li class="emoji list-inline-item"><i class="em em---1"></i></li>
              <li class="emoji list-inline-item"><i class="em em-angry"></i></li>
              <li class="emoji list-inline-item"><i class="em em-anguished"></i></li>
              <li class="emoji list-inline-item"><i class="em em-astonished"></i></li>
              <li class="emoji list-inline-item"><i class="em em-blush"></i></li>
              <li class="emoji list-inline-item"><i class="em em-clap"></i></li>
              <li class="emoji list-inline-item"><i class="em em-cry"></i></li>
              <li class="emoji list-inline-item"><i class="em em-full_moon_with_face"></i></li>
            </ul>
          </div>
          <a href="#" class="d-flex align-items-center fw-600 text-grey-900 text-dark lh-26 font-xssss">
            <i class="feather-message-circle text-dark text-grey-900 btn-round-sm font-lg"></i>
            <span class="d-none-xss">22 Comment</span>
          </a>
        </div>
      </div>
    </div> 
  </div>
</div>
