<app-navbar></app-navbar>
<app-leftbar></app-leftbar>

<div class="page-center">
  <div class="container content-box">
    <h2 class="text-center mb-4">Ajouter une Sous-Catégorie</h2>

    <!-- Message de succès -->
    <div *ngIf="successMessage" class="alert alert-success text-center">
      {{ successMessage }}
    </div>

    <!-- Message d'erreur -->
    <div *ngIf="errorMessage" class="alert alert-danger text-center">
      {{ errorMessage }}
    </div>

    <form [formGroup]="sousCategorieForm" (ngSubmit)="ajouterSousCategorie()">
      <div class="mb-3">
        <label for="nomscat" class="form-label">Nom de la sous-catégorie</label>
        <input type="text" id="nomscat" class="form-control" formControlName="nomscat" required>
      </div>

      <div class="mb-3">
        <label for="categorieId" class="form-label">Catégorie</label>
        <input
          id="categorieId"
          class="form-control"
          formControlName="categorieId"
          [value]="getCategorieNomById(sousCategorieForm.get('categorieId')?.value)"
          readonly
        />
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]="sousCategorieForm.invalid">Ajouter</button>      </div>
    </form>
  </div>
</div>
