
<div class="nav-header bg-white shadow-xs border-0">
    <div class="nav-top d-flex justify-content-between w-100 align-items-center">
        <!-- Logo -->
        <a routerLink="/home" class="d-flex align-items-center">
            <i class="feather-zap text-success display1-size me-2 ms-0"></i>
            <span class="d-inline-block fredoka-font ls-3 fw-600 text-current font-xxl logo-text mb-0">IHM</span>
        </a>
    
       
    
        <!-- Notifications -->
        
    
        <!-- Avatar and User Menu -->
        <a href="#" class="header-btn d-none d-lg-block bg-dark fw-500 text-white font-xsss p-3 ms-auto w100 text-center lh-20 rounded-xl" data-toggle="modal" data-target="#Modallogin">Login</a>
        <a href="#" class="header-btn d-none d-lg-block bg-current fw-500 text-white font-xsss p-3 ms-2 w100 text-center lh-20 rounded-xl" data-toggle="modal" data-target="#Modalregister">Register</a>

    </div>
</div>
