/* Fixer la navbar en haut */
app-navbarclient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Assurez-vous que la navbar reste au-dessus de tout autre contenu */
  }
  
  /* Marge pour le contenu sous la navbar */
  .main-content {
    margin-top: 60px; /* Ajustez cette valeur en fonction de la hauteur de votre navbar */
  }
  
  .left-sidebar {
    position: fixed;
    top: 60px; /* Positionne la sidebar juste en dessous de la navbar */
    left: 0;
    width: 250px; /* Largeur de la sidebar */
    height: 100%;
    background-color: #f4f4f4; /* Arrière-plan clair */
    padding-top: 20px;
    z-index: 999;
    overflow-y: auto;
    border-right: 2px solid #ddd; /* Ligne de séparation */
  }
  
  /* Modifications pour le contenu de la barre latérale */
  .search-container {
    padding: 10px;
  }
  
  .search-box, .advanced-search-box {
    margin-bottom: 20px;
  }
  
  .search-box input, .advanced-search-box input, .advanced-search-box select {
    width: 100%;
  }
  
  /* Affichage des publications - une seule par ligne */
  .publications-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .publication-item {
    width: 100%; /* Une seule publication par ligne */
    padding: 15px;
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .publication-header {
    display: flex;
    margin-bottom: 10px;
  }
  
  .publication-header .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .publication-body p {
    font-size: 14px;
    color: #666;
  }
  
  .comment-section {
    margin-top: 10px;
  }
  
  .card-body {
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .card-body .btn {
    margin-top: 10px;
  }
  
  .main-content {
    margin-left: 270px; /* Décale le contenu principal pour éviter qu'il ne soit masqué par la sidebar */
    padding: 20px;
  }
  .checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
  }.form-group button:hover {
    background-color: #333;
  }.form-group button {
    padding: 10px 20px;
    background-color: #1c1c1c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .form-group input[type="text"],.form-control
  .form-group input[type="datetime-local"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
  }

  .styled-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    font-size: 14px;
  }
  .form-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    font-size: 14px;
    width: 20%;
    box-sizing: border-box;
  }
  
  
  