<app-navbar></app-navbar>
<app-leftbar></app-leftbar>

<!-- main content -->
<div class="main-content bg-lightblue theme-dark-bg right-chat-active">
    <div class="middle-sidebar-bottom">
        <div class="middle-sidebar-left">
            <div class="middle-wrap">
                <div class="card w-100 border-0 bg-white shadow-xs p-0 mb-4">
                  <div class="card-body p-4 w-100 bg-current border-0 d-flex align-items-center rounded-3">
                    <a href="default-settings.html" class="d-inline-block mt-2 me-3">
                      <i class="ti-arrow-left font-sm text-white"></i>
                    </a>
                  
                    <img [src]="user.avatarUrl" alt="Image Portfolio" class="w40 h40 rounded-circle me-3" width="150">
                  
                    <h4 class="font-xs text-white fw-600 mb-0">
                      Portfolio de <strong>{{ user.nom }}</strong>
                    </h4>
                  
                    <div style="margin-left: auto; text-align: right;" class="text-white font-xs">
                      {{ user.email }}<br>
                      {{ user.phone }}
                    </div>
                  </div>
                  

                    <div class="card-body p-lg-5 p-4 w-100 border-0 mb-0">
                        <form >
                            <!-- Champ de description -->
                            <div class="form-group" >
                                <label class="mont-font fw-600 font-xsss">Description </label>
                                <textarea [(ngModel)]="portfolio.description" name="description" class="form-control" readonly></textarea>
                              </div>
                              
                              <div class="form-group">
                                <label class="mont-font fw-600 font-xsss">Cv :</label>
                              </div>
                              
                              <div *ngIf="portfolio.imageUrl">
                                <img [src]="portfolio.imageUrl" alt="Image Portfolio" class="img-thumbnail" width="150">
                              </div>
                              
                              
                              

                            <!-- Bouton Save -->
                            <div class="col-lg-12 mb-0 mt-2 ps-0">
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>            
    </div>            
</div>
<!-- main content -->
